body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 10px;
}
.container-wrap {
  display: flex;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 960px;
  height: 960px;
  border: 1px solid blue;
}
